[submodule "server/silly"]
	path = server/silly
	url = git@github.com:findstr/silly
[submodule "client/Assets/Resources"]
	path = client/Assets/Resources
	url = git@git.oschina.net:gotocoding/mmorpg-model.git
[submodule "Tool"]
	path = Tool
	url = git@git.oschina.net:gotocoding/mmorpg-config.git
